.encabezado{

    .ctn-texto-iphone-14-pro{
        color: $color_gris;
    }
}

.texto-color-gris{
    color: $color_gris;
}

.iphone14-innovaciones{
    width: 100%;
    max-width: 700px;
}

.img-deteccion-choques{
    width: 100%;
    max-width: 240px;
}

.img-chip-bionic{
    width: 100%;
    max-width: 300px;
}
