.encabezado{

    .ctn-texto-iphone-14-pro{
        color: $color_gris;
    }
}

.texto-color-gris{
    color: $color_gris;
}

.iphone14-innovaciones{
    width: 100%;
    max-width: 700px;
}

#dynamic-island{

    .span-texto-dynamic-island{
        font-size: $tamanio_texto_span;
        color: rgb(177, 116, 226);
    }
}


.deteccion{

    .img-deteccion-choques{
        width: 100%;
        max-width: 240px;
    }

    .span-texto-deteccion{
        color: rgb(248, 77, 47);
        font-size: $tamanio_texto_span;
    }
}


.chip-bionic{

    .img-chip-bionic{
        width: 100%;
        max-width: 300px;
    }

    .span-texto-chip-bionic{
        font-size: $tamanio_texto_span;
        color: rgb(177, 116, 226);
    }

}

.bateria{

    .texto-bateria{
        max-width: 300px;
    
        .span-texto-bateria{
            color: rgb(126, 226, 126);
            font-size: $tamanio_texto_span;
        }
    }

    .texto-cargador{
        max-width: 400px;

        .span-texto-bateria{
            color: rgb(101, 207, 101);
            font-size: $tamanio_texto_span;
        }
    }
}